{% extends "inc/nav_bar_tags.html" %}
{% load static %}

{% block context %}
<h1 class="mt-5 form_header">New Question</h1>
<form action="/ask/" method="post">
    {% csrf_token %}
    <div class="form_error">{{ form.non_field_errors }}</div>

    {% for f in form %}
        <p><label class="form_label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form_error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-primary Add_Question_Button">Ask</button>
</form>
{% endblock context %}