{% extends "inc/nav_bar_tags.html" %}
{% load static %}

{% block context %}
<h1 class="mt-5">New Question</h1>
<form>
    <div class="row Input">
        <div class="col-1">
            <h3>Title</h3>
        </div>
        <div class="col-8">
            <input class="form-control me-2" type="search" placeholder="Question heading"
                aria-label="Search">
        </div>
    </div>

    <div class="row Input">
        <div class="col-1">
            <h3>Text</h3>
        </div>
        <div class="col-8">
            <textarea class="form-control me-2" cols="30" rows="10" type="search"
                placeholder="The text of your question"></textarea>
        </div>
    </div>

    <div class="row Input">
        <div class="col-1">
            <h3>Tags</h3>
        </div>
        <div class="col-8">
            <input class="form-control me-2" type="search" placeholder="Question tags"
                aria-label="Search">
            <button type="button" class="btn btn-success Add_Question_Button">Ask</button>
        </div>
    </div>
</form>
{% endblock context %}