{% extends "inc/nav_bar_tags.html" %}
{% load static %}

{% block context %}
<h1 class="mt-5 ">Log in</h1>
    <div class="row Input">
        {% if form.errors %}
            <p class="Error">Sorry, wrong password or login! Try again.</p>
        {% endif %}
    </div>
<div class="row Input">
    <div class="col-8">
        <form action="/login" method="post">
            {% csrf_token %}
            <div class="form_error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p><label class="form_label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form_error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-primary Add_Question_Button">Log in</button>
        </form>
    </div>
</div>
{% endblock context %}
