{% extends "inc/nav_bar_tags.html" %}
{% load static %}
{% block context %}
    <h1 class="mt-5">{{profile.nick}}: Settings</h1>
    <div class="row Input">
        <a class="nav-link active log_out"
           aria-current="page"
           href="{% url 'log_out' %}">Log out</a>
    </div>
    <form>
        <div class="row Input">
            <div class="col-2">
                <h3>Login</h3>
            </div>
            <div class="col-8">
                <input class="form-control me-2"
                       type="search"
                       placeholder={{profile.login}}
                       aria-label="Search">
            </div>
        </div>
        <div class="row Input">
            <div class="col-2">
                <h3>Email</h3>
            </div>
            <div class="col-8">
                <input class="form-control me-2"
                       type="search"
                       placeholder={{profile.email}}
                       aria-label="Search">
            </div>
        </div>
        <div class="row Input">
            <div class="col-2">
                <h3>NickName</h3>
            </div>
            <div class="col-8">
                <input class="form-control me-2"
                       type="search"
                       placeholder={{profile.nick}}
                       aria-label="Search">
            </div>
        </div>
        <div class="row Input">
            <div class="col-2">
                <h3>Upload avatar</h3>
            </div>
            <div class="col-8">
                <img src="{% static 'img/avatar.png' %}" class="Avatar_profile_img">
                <div class="row">
                    <div class="col-4">
                        <input class="form-control me-2"
                               type="search"
                               placeholder={{profile.avatar}}
                               aria-label="Search">
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary">Choose</button>
                    </div>
                </div>
                <button type="button" class="btn btn-success Add_Question_Button">Save changes</button>
            </div>
        </div>
    </form>
{% endblock context %}
