{% extends "inc/nav_bar_tags.html" %}
{% load static %}

{% block context %}
    <div class="row Question_profile">
        <div class="col-3">
            <img class="Question_img" src=../../{{question.avatar}}>
        </div>
        <div class="col-9">
            <p class="active Question_title" aria-current="page">
                {{ question.header }}
            </p>
            <p class="lead">
                {{ question.body }}
            </p>
            <dic class="row">
            <div class="cols-1"></div>
            <div class="cols-10">
                <span class="Answers">Tags:</span>
                {% for tag in question.tags.get_queryset %}<span class="TagsValue">{{tag}}</span>{% endfor %}
            </div>
            <div class="cols-1"></div>
            </dic>
        </div>
        <div class="line"></div>
    </div>
    {% for answer in answers %}
        {% include "inc/answer.html" %}
    {% endfor %}
{% endblock context %}

{% block paginator %}
{% include "inc/answer_paginator.html" %}
{% endblock paginator %}

{% block answer%}
<div class="row">
    <h1 class="mt-5 Answer_button">Answer the question:</h1>
    {% if is_register %}
    {% else %}
        <p class="margin">Sorry, only registered users can answer questions</p>
    {% endif %}
    <div class="row Input">
        <div class="col-8">
        <form method="post">
            {% csrf_token %}
            <div class="form_error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p>{{ f }}</p>
                <div class="form_error">{{ f.errors }}</div>
            {% endfor %}

            {% if is_register %}
                <button type="submit" class="btn btn-primary Add_Question_Button">Answer</button>
            {% else %}
                <button disabled type="submit" class="btn btn-primary Add_Question_Button">Answer</button>
            {% endif %}
        </form>
        </div>
    </div>
</div>
{% endblock answer%}
