{% extends "inc/nav_bar_tags.html" %}
{% load static %}

{% block context %}
    <div class="row Question_profile">
        <div class="col-3">
            <img class="Question_img" src=../../{{question.avatar}}>
        </div>
        <div class="col-9">
            <p class="active Question_title" aria-current="page">
                {{ question.header }}
            </p>
            <p class="lead">
                {{ question.body }}
            </p>
            <dic class="row">
            <div class="cols-1"></div>
            <div class="cols-10">
                <span class="Answers">Tags:</span>
                {% for tag in question.tags.get_queryset %}<span class="TagsValue">{{tag}}</span>{% endfor %}
            </div>
            <div class="cols-1"></div>
            </dic>
        </div>
        <div class="line"></div>
    </div>
    {% for answer in answers %}
        {% include "inc/answer.html" %}
    {% endfor %}
{% endblock context %}

{% block paginator %}
{% include "inc/answer_paginator.html" %}
{% endblock paginator %}