{% extends "inc/nav_bar_tags.html" %}
{% load static %}

{% block context %}
    <h1 class="mt-5 form_header">Registration</h1>
    <form enctype="multipart/form-data" action="/register" method="post">
        {% csrf_token %}
        <div class="form_error_registration">{{ form.non_field_errors }}</div>
    
        {% for f in form %}
            <p><label class="form_label col-2" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form_error_registration col-8">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-primary Add_Question_Button">Register</button>
    </form>
{% endblock context %}
