{% load static %}

<div class="row Question">
    <div class="col-2">
        {% if answer.author.avatar == 'static/img/avatar.png' %}
            <img class="Avatar_Question_img" src=../../{{answer.author.avatar}}>
        {% else %}
            <img class="Avatar_Question_img" src={{answer.author.avatar.url}}>
        {% endif %}
    </div>
    <div class="col-9">
        <h3>{{answer.author.user.username}}</h3>
        <p class="lead">{{answer.body}}</p>
        <dic class="row">
            <div class="col-6">
                <button>Like {{answer.likes.count}} &#128077</button>
            </div>
            <div class="col-6">
                <input type="checkbox"/>
                <label>Correct answer</label>
            </div>
        </dic>
    </div>
</div>
