{% extends "inc/paginator.html" %}
{% load static %}

{% block begining %}
    <a class="page-link" href="{% url link 0 %}" aria-label="Previous">
{% endblock begining %}

{% block previous %}
    <a class="page-link" href="{% url link page.previous %}">{{page.previous}}</a>
{% endblock previous %}

{% block current %}
    <a class="page-link" href="{% url link page.current %}">{{page.current}}</a>
{% endblock current %}

{% block next %}
    <a class="page-link" href="{% url link page.next %}">{{page.next }}</a>
{% endblock next %}

{% block end %}
    <a class="page-link" href="{% url link page.max %}" aria-label="Next">
{% endblock end %}