{% load static %}

<div class="row Question">
    <div class="col-3">
        <img class="Question_img" src=../../{{question.avatar}}>
    </div>
    <div class="col-9">
        <a class="nav-link active Question_title" aria-current="page" href="{% url "question_url" question.id 0 %}">{{question.header}}</a>
        <p class="lead">{{question.body}}</p>
        <div class="row">
            <div class="col-2">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                    <button class='button-likes' type='button' data-id={{question.id}}>Like {{question.likes.count}}</button>
                {% else %}
                    <button disabled >Like {{question.likes.count}}</button>
                {% endif %}
            </div>
            <div class="col-3">
                <span class="Answers">Answers:</span>
                <span class="AnswersValue">{{question.answers.count}}</span>
            </div>
            <div class="col-7">
                <span class="Answers">Tags:</span>
                {% for tag in question.tags.get_queryset %}
                    <span class="TagsValue">{{tag}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
