{% load static %}

<div class="row Question">
    <div class="col-3">
        <img class="Question_img" src=../../{{question.avatar}}>
    </div>
    <div class="col-9">
        <a class="nav-link active Question_title" aria-current="page" href="{% url "question_url" question.id 0 %}">{{question.header}}</a>
        <p class="lead">{{question.body}}</p>
        <dic class="row">
        <div class="col-6">
            <span class="Answers">Answers:</span>
            <span class="AnswersValue">{{question.answers.count}}</span>
        </div>
        <div class="col-6">
            <span class="Answers">Tags:</span>
            {% for tag in question.tags.get_queryset %}
                <span class="TagsValue">{{tag}}</span>
            {% endfor %}
        </div>
        </dic>
    </div>
</div>
